In [6]:
! gdown --id 1hH9s_NIGXDZhq9HazkV-Ysv8MNxokmpQ

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1hH9s_NIGXDZhq9HazkV-Ysv8MNxokmpQ
To: /content/data_validasi.xlsx
100% 11.5k/11.5k [00:00<00:00, 14.7MB/s]

In [7]:
import pandas as pd
import numpy as np

df=pd.read_excel('/content/data_validasi.xlsx',dtype={'no': np.int32, 'data':np.str}) #lokasi file csv
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  after removing the cwd from sys.path.

,Timestamp,Name / Initial,Gender,E1,E2,WOP1,WOP2,PCQ1,PCQ2,COU1,COU2
0,2022-09-22 23:31:12.661,winda,Female,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0
1,2022-09-22 23:49:44.716,Nadhira,Female,5.0,5.0,4.0,4.0,5.0,4.0,4.0,5.0
2,2022-09-23 06:57:58.879,Sakinah,Female,4.0,3.0,5.0,4.0,4.0,4.0,5.0,5.0
3,2022-09-23 08:09:11.297,r,Female,4.0,5.0,4.0,3.0,3.0,4.0,5.0,4.0
4,2022-09-23 08:10:56.623,el,Female,4.0,4.0,4.0,4.0,4.0,3.0,4.0,2.0
5,2022-09-23 08:12:55.866,Alya,Female,5.0,4.0,4.0,4.0,4.0,3.0,5.0,5.0
6,2022-09-23 08:13:33.668,Angelica,Female,5.0,5.0,5.0,5.0,4.0,5.0,5.0,4.0
7,2022-09-23 08:27:07.114,HRA,Male,5.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0
8,2022-09-23 08:29:44.656,J,Female,5.0,5.0,4.0,4.0,3.0,4.0,5.0,5.0
9,2022-09-23 08:30:00.820,Micheleasn,Female,4.0,4.0,4.0,3.0,4.0,4.0,4.0,3.0
10,2022-09-23 09:04:14.870,nwl,Female,5.0,5.0,4.0,5.0,4.0,5.0,5.0,5.0
11,2022-09-23 09:05:49.643,A,Male,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
12,2022-09-23 09:19:34.109,hana,Female,4.0,5.0,4.0,4.0,4.0,3.0,5.0,4.0
13,2022-09-23 09:30:56.047,Irene Salsabila,Female,4.0,4.0,5.0,2.0,4.0,4.0,5.0,4.0
14,2022-09-23 09:38:58.707,nadia,Female,5.0,4.0,5.0,4.0,4.0,5.0,5.0,3.0
15,2022-09-23 11:06:35.725,Adrian Navis,Male,3.0,4.0,5.0,2.0,3.0,4.0,4.0,5.0
16,2022-09-23 11:42:10.386,Martha,Female,4.0,4.0,4.0,4.0,3.0,3.0,4.0,4.0
17,2022-09-23 13:30:56.702,ir,Female,2.0,4.0,4.0,2.0,2.0,2.0,2.0,4.0
18,2022-09-23 13:40:54.684,fms,Male,4.0,4.0,4.0,4.0,5.0,3.0,4.0,5.0
19,2022-09-23 14:41:39.479,rcl,Female,5.0,5.0,5.0,3.0,3.0,4.0,5.0,3.0
20,2022-09-23 14:46:03.246,ratwl,Male,4.0,5.0,4.0,4.0,4.0,5.0,4.0,4.0
21,2022-09-23 14:51:03.577,khalisha,Female,5.0,5.0,3.0,3.0,4.0,4.0,3.0,3.0
22,2022-09-23 14:55:03.469,Rhaisya,Female,4.0,4.0,5.0,4.0,4.0,3.0,5.0,4.0
23,2022-09-23 16:09:11.394,April,Female,4.0,4.0,4.0,3.0,4.0,4.0,4.0,4.0
24,2022-09-23 16:30:25.328,Tasya,Female,3.0,4.0,5.0,3.0,3.0,3.0,4.0,4.0
25,2022-09-23 17:44:54.639,EM,Female,4.0,2.0,2.0,2.0,2.0,3.0,4.0,2.0
26,2022-09-23 17:47:44.761,syifa,Female,4.0,4.0,4.0,3.0,4.0,4.0,4.0,3.0
27,2022-09-24 00:04:13.243,t,Female,4.0,5.0,5.0,4.0,4.0,4.0,5.0,5.0
28,2022-09-24 00:45:18.637,helen,Female,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0
29,2022-09-24 10:58:55.029,tazkia,Female,5.0,5.0,5.0,5.0,4.0,3.0,5.0,5.0
30,2022-09-24 11:37:55.707,Fabian,Male,4.0,3.0,5.0,4.0,3.0,2.0,5.0,5.0
31,2022-09-24 11:42:42.821,ANS,Female,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0
32,2022-09-24 12:26:12.500,NM,Male,5.0,4.0,5.0,4.0,5.0,4.0,5.0,5.0
33,2022-09-24 13:19:00.028,zha,Male,4.0,2.0,5.0,5.0,5.0,5.0,4.0,5.0
34,2022-09-24 13:43:51.309,Jesaya,Male,4.0,4.0,5.0,4.0,4.0,4.0,5.0,4.0
35,2022-09-24 13:46:52.253,Qarissa,Female,4.0,4.0,5.0,3.0,4.0,5.0,5.0,5.0
36,2022-09-24 14:27:33.091,Diva,Female,5.0,5.0,5.0,4.0,3.0,3.0,5.0,4.0
37,2022-09-24 18:21:18.850,c,Female,5.0,5.0,5.0,4.0,4.0,4.0,5.0,5.0
38,2022-09-24 21:41:01.913,SM,Female,5.0,4.0,5.0,4.0,5.0,3.0,5.0,5.0
39,2022-09-25 00:32:48.573,m,Female,4.0,3.0,5.0,4.0,4.0,5.0,4.0,4.0
40,2022-09-25 18:31:04.534,Rafindra,Male,4.0,5.0,5.0,4.0,5.0,3.0,4.0,4.0
41,2022-09-25 19:41:55.104,ffp,Female,5.0,5.0,4.0,5.0,4.0,5.0,5.0,5.0
42,2022-09-25 23:22:50.032,hamidah k,Female,4.0,4.0,5.0,3.0,4.0,3.0,5.0,5.0
43,2022-09-26 04:05:01.772,Albimandaka,Male,4.0,4.0,5.0,3.0,4.0,2.0,4.0,5.0
44,2022-09-26 07:41:04.570,a,Female,5.0,5.0,5.0,4.0,5.0,4.0,5.0,5.0
45,2022-09-26 07:45:30.856,dinda,Female,5.0,5.0,5.0,4.0,4.0,4.0,5.0,5.0

In [8]:
#Dropping indentifier columns since we're only doing survey validation
df.drop({'Timestamp','Name / Initial','Gender'},axis=1,inplace=True)

#Dropping missing value rows
df.dropna(inplace=True)

display(df.info(),df.head(5))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 0 to 45
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   E1      46 non-null     float64
 1   E2      46 non-null     float64
 2   WOP1    46 non-null     float64
 3   WOP2    46 non-null     float64
 4   PCQ1    46 non-null     float64
 5   PCQ2    46 non-null     float64
 6   COU1    46 non-null     float64
 7   COU2    46 non-null     float64
dtypes: float64(8)
memory usage: 3.2 KB

None

    E1   E2  WOP1  WOP2  PCQ1  PCQ2  COU1  COU2
0  5.0  5.0   5.0   5.0   5.0   3.0   5.0   5.0
1  5.0  5.0   4.0   4.0   5.0   4.0   4.0   5.0
2  4.0  3.0   5.0   4.0   4.0   4.0   5.0   5.0
3  4.0  5.0   4.0   3.0   3.0   4.0   5.0   4.0
4  4.0  4.0   4.0   4.0   4.0   3.0   4.0   2.0

In [4]:
!pip install pingouin

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pingouin in /usr/local/lib/python3.7/dist-packages (0.5.2)
Requirement already satisfied: pandas-flavor>=0.2.0 in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.2.0)
Requirement already satisfied: statsmodels>=0.13 in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.13.2)
Requirement already satisfied: seaborn>=0.11 in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.11.2)
Requirement already satisfied: numpy>=1.19 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.21.6)
Requirement already satisfied: outdated in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.2.1)
Requirement already satisfied: matplotlib>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from pingouin) (3.2.2)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.8.10)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.7.3)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.3.5)
Requirement already satisfied: scikit-learn<1.1.0 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.0.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.2->pingouin) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pingouin) (2022.2.1)
Requirement already satisfied: xarray in /usr/local/lib/python3.7/dist-packages (from pandas-flavor>=0.2.0->pingouin) (0.20.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.2->pingouin) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.1.0->pingouin) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.1.0->pingouin) (1.1.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.13->pingouin) (0.5.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.13->pingouin) (21.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from outdated->pingouin) (2.23.0)
Requirement already satisfied: littleutils in /usr/local/lib/python3.7/dist-packages (from outdated->pingouin) (0.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (1.24.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from xarray->pandas-flavor>=0.2.0->pingouin) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->xarray->pandas-flavor>=0.2.0->pingouin) (3.8.1)

In [14]:
# data variabel E
df1=df.loc[0:45,'E1':'E2']
display(df1.head(5))

    E1   E2
0  5.0  5.0
1  5.0  5.0
2  4.0  3.0
3  4.0  5.0
4  4.0  4.0

In [15]:
import pingouin as pg
pg.cronbach_alpha(df1)

(0.5831168831168834, array([0.247, 0.769]))

In [16]:
# data variabel WOP
df2=df.loc[0:45,'WOP1':'WOP2']
display(df2.head(5))

   WOP1  WOP2
0   5.0   5.0
1   4.0   4.0
2   5.0   4.0
3   4.0   3.0
4   4.0   4.0

In [17]:
pg.cronbach_alpha(df2)

(0.42567799519395777, array([-0.038,  0.682]))

In [19]:
#data variabel PCQ
df3=df.loc[0:45,'PCQ1':'PCQ2']

pg.cronbach_alpha(df3)

(0.4492924528301887, array([0.005, 0.695]))

In [20]:
#data variabel PCQ
df4=df.loc[0:45,'COU1':'COU2']

pg.cronbach_alpha(df4)

(0.5247124650295305, array([0.141, 0.737]))